
  
.page {   
    flex:1;
    display: flex;  
    flex-direction: column;
    background-color: black;
    height: 100vh;
    
    
    
    
    .main {
        font-size: 30pt;
        color: red;
        background-color: white;
        margin: 3%;
        display: flex;
        flex: 1;
    }

    .card {
        font-size: 50pt;
        color: red;
        background-color: white;
        margin: 3%;
        display: flex;
        flex: 4;
    }

}