@mixin flex(){
    flex:1;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

@mixin flex2(){
   
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}

.popupCont {
    width:50vw;
    height:65vh;
    border: 3px solid #8C93D5;
    border-radius:10px;
    background-color: white;
    display:flex;
    flex-direction:column;
    z-index: 1;
  
    // justify-content:center;
    // align-items:center;

    .popupTopRow {
        @include flex2();
        // background-color:green;
        margin:5px;
        padding-right:2%;

        .closeBut {
            width:49px;
            height:49px;
            background-color:#DFE0F0;
            border-radius:50px;
            display:flex;
            justify-content:center;
            align-items:center;
            

            .xIcon {
                width:90%;
                height:90%;
                color:#444B95;
            }
        }
    }

    .popupRow {
        @include flex();
        // background-color:green;
        margin:5px;
    }

    .popupText {
        display: flex;
        flex-direction: column;
        // background-color:green;
        margin:5px;
    }

    .popupTitle {
        font-family: Roboto;
        font-size:22pt;
        font-weight:500;
        line-height:34px;
        color:#444B95;
        margin: 0;
    }
    .underText {
        font-family: Roboto;
        font-size:29pt;
        font-weight:900;
        line-height:34px;
        color:#444B95;
        margin: 0;
    }

    

}

.popup_close {
    display:none;
}