
@import './dropdown-Items/dditems.scss';


$w:50px;



@mixin flex($dir:column){
    display: flex;
    flex-direction:$dir;

}

.dd_container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80%;
}


.dd_title {
    flex: 1;
    font-size: 13pt;
    margin: 0px;
    text-align: right;

 
    
  
}


.dropdown {
    border: 2px solid #888FD3;
    background-color: white;
    flex: 1;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    align-content: center;
    justify-content: center;
 
    border-radius: 40px;
    @include flex();


        .icon_style {
            width: $w;
            flex: 1;
        }

        .icon_holder {
            display: flex;
            flex-direction: row;

      
        }

        .icon_holder_space {
        flex:2;
        }

        .image_tag {
            width: 5vw;
            height: 5vh;
        }

        .dropmenu {
            max-height: 0px;
            overflow: hidden;
            transition:max-height 0.3s;
        
        };

        .dropmenu_active {
            max-height: 100vh;

        
        };


}



