
@import './dropdown-Items/dditems.scss';


$w:50px;



@mixin flex($dir:column){
    display: flex;
    flex-direction:$dir;

}

.dd_container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80%;

}


.dd_title {
    color: #888FD3;
    flex: 0.5;
    font-size: 13pt;
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;

 
    
  
}


.dropdown {
    border: 2px solid #888FD3;
    background-color: white;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
  
    border-radius: 5px;
    @include flex();


        .icon_style {
            width: $w;
            margin: 2px;

     
        }

        .icon_holder {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
        }

        .image_tag {
            width: 5vw;
            height: 5vh;
        }

        .dropmenu {
            max-height: 0px;
            overflow: hidden;
            transition:max-height 0.3s;
        
        };

        .dropmenu_active {
            max-height: 100vh;

        
        };


}



