.barbody {
    background-color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex: 1;
 
   
    
    .item {
        width: 100px;
        text-align: center;
        margin: 5px;
        flex: 1;
        background-color: #888FD3;
        
    }
    .search {
        border-radius: 20px;
        text-align: center;
        margin: 5px;
        font-size: 13pt;
        flex: 2;
        border: 2px solid #888FD3;
    }

    .space {
        flex: 0.5;
    }


}

