
$fs:10pt;
$m:10px;


.dd_items {
    background-color: rgb(255, 114, 6);
    padding: 10px;
    margin: $m 0;
    font-size: $fs;
    font-family: 'Roboto', sans-serif;
  

    &:active, &:hover {
        background-color: rgb(197, 252, 119);
    }
    &:first-of-type {
        margin-top: $m*2;
    }
    &:last-of-type {
        margin-bottom: $m*2;
    }

}

.dd_items_active {
    background-color:#000;
    color: white;
    font-family: 'Roboto', sans-serif;
}