.main {
    font-size: 30pt;
    color: blue;
    background-color: black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.holder {
    display: flex;
    width: 100vw;
    height: 100vh;
}