
.bar {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    align-content: center;
    justify-items: center;

}

.logo {
    width: 20vw;
    border-radius: 200px;
    align-self: center;
    flex: 3;
    background-color: red;
}

.inventory-text {
    font-size: 20pt;
    text-align: center;
    flex: 1;
    width: 8.4%;
    border-radius: 100px;
    background-color: #8C93D5;
    align-self: center;
}

.dashboard-text {
    flex: 1;
    font-size: 20pt;
    text-align: center;
    width: 8.2%;
    border-radius: 100px;
    background-color: #8C93D5;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.dashboard-text:active {
    background-color: #8C93D5 ;
}

.inventory-text:active {
    background-color: #8C93D5; 
}

.dashboard-text-inactive {
    
    background-color: white;
}

.inventory-text-inactive {
    background-color: white;
}

.space {
    flex: 2;
}

.space-above {
    flex: 2;
}