
.bar {
    display: flex;
    flex: 0.4;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    align-content: center;
    justify-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 50vw;
}

.year-heading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.year-heading_active {
   background-color: rgba(65, 51, 153, 0.379);
}



.year-heading-active {
    background-color: #8C93D5;
  
}

.year_slider {
    display: flex;
    width: 20vw;
    background-color: rgba(0, 0, 255, 0.263);
    height: 100vh;
    flex-direction: column;
    
}

.year_slider-inactive{
    flex: 0;
    height: 100vh;
    display: none;
}

.logo {
    width: 20vw;
    border-radius: 200px;
    align-self: center;
    flex: 3;
    background-color: red;
}

.inventory-text {
    font-size: 20pt;
    text-align: center;
    flex: 1;
    border-radius: 100px;
    background-color: #8C93D5;
    align-self: center;
}

.dashboard-text {
    flex: 1;
    font-size: 20pt;
    text-align: center;
    border-radius: 100px;
    background-color: #8C93D5;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.dashboard-text:active {
    background-color: #8C93D5 ;
}

.inventory-text:active {
    background-color: #8C93D5; 
}

.dashboard-text-inactive {
    
    background-color: white;
}

.inventory-text-inactive {
    background-color: white;
}

.space {
    flex: 2;
}

.space-above {
    flex: 2;
}