
@mixin flex($dir:row){
    display:flex;
    flex-direction:$dir;
}

.itemDetails {
        flex:1;
            text-align:center;
            margin:5px;
            font-size:18px;
            color:#444B95;
}
