.checkoutForm {
    width:50%;
    // display:flex;
    // flex-direction:column;
    // justify-content:center;
    // align-items:center;

    .StripeElement {
        width: 100%;
        padding: 11px 15px 11px 0;
    }
}